@model MVCBasic.Models.Vehiculo

@{
    ViewData["Title"] = "Delete";
}
<div class="body-dashboard">
<h1>Eliminar Vehiculo</h1>

<h3>¿Esta seguro que desea eliminar este vehiculo?</h3>
<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Dashboard" asp-controller="Empleado">Volver al panel</a>
    </form>
</div>
</div>
