
<h1 class="text-danger">Ticket de Confirmación</h1>
<h2 class="text-danger">Se Reservo correctamente la cochera</h2>

    <p>Número de Cochera: @ViewBag.NumeroCochera</p>
    <p>Número de Patente: @ViewBag.NumeroPatente</p>
