@{
    ViewData["Title"] = "ParkiApp - Home";
}

<div class="hero-wrapper">
    <div class="hero">
        <img class="hero_image" src="/images/Parking-hero.png" />
        <div class="hero-action">
            <h1 class="hero-title">¿Cansado de buscar estacionamiento?</h1>
            <h2 class="hero-subtitle">¿Harto de las multas?</h2>
            <p>Reserva cocheras, evita multas y despidete de la busqueda interminable de estacionamiento</p>
            <a class="action" href="/Cliente/Register">Reservar una cochera</a>
        </div>
    </div>
</div>
