@{
    ViewData["Title"] = "ParkiApp - Home";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p><a href="/Cliente/Register">Registro Usuarios</a></p>
    <p><a href="/Cliente/login">Ingreso Usuario</a></p>
    <p><a href="/Empleado/login">Ingreso Empleado</a></p>
</div>
