@model MVCBasic.Models.Cliente
<h1>Bienvenido!,  @ViewBag.Name!</h1>

@if (ViewBag.Vehiculos != null && ViewBag.Vehiculos.Count > 0)
{
    <h3>Tus vehículos:</h3>
    <ul>
        @foreach (var vehiculo in ViewBag.Vehiculos)
        {
            <li>@vehiculo.patente</li>
        }
    </ul>
}
else
{
    <p>Aún no has agregado ningún vehículo.</p>
}
<a class="nav-link text-dark" href="@Url.Action("Create", "Vehiculo")">Agregar Vehiculo</a>
