@model MVCBasic.Models.Cliente

@{
    ViewData["Title"] = "Usuario - Registrarse";
}
<div class="login-body">
    <div class="login">

        <header class="login__header">
            <h2>
                <svg class="icon">
                    <use xlink:href="#icon-lock" />
                </svg>OBTENE TU CUENTA
            </h2>
        </header>

        <form asp-action="Register" asp-controller="Cliente" class="login__form" method="POST">

            <div>
                <label asp-for="Email"></label>
                <input required type="text" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Nombre"></label>
                <input type="text" required asp-for="Nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Apellido"></label>
                <input type="text" required asp-for="Apellido"/>
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Telefono"></label>
                <input type="text" required asp-for="Telefono" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="password"></label>
                <input type="password" asp-for="password" />
            </div>
            @if (!string.IsNullOrEmpty(ViewData["Mensaje"] as string))
            {
                <span class="text-danger">@ViewData["Mensaje"]</span>
            }
            <div>
                <input class="button" type="submit" value="Obtener cuenta">
            </div>

        </form>

    </div>

    <svg xmlns="http://www.w3.org/2000/svg" class="icons">

        <symbol id="icon-lock" viewBox="0 0 448 512">
            <path d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z" />
        </symbol>

    </svg>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
