html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    min-height: 100vh;
    max-width: 100vw;
    margin-bottom: 0px;
}
/* Reseteo de estilos */
.pb-3 {
    padding-bottom: 0px !important;
}
.container {
    padding: 0px !important;
    margin: 0px !important;
}
.navbar {
    margin-bottom: 0px !important;
}
/* MENSAJES DE ERROR */
.text-danger {
    color: #b71c1c;
    background: #FFCCBC;
    padding: 10px 5px;
    display: block;
    margin-top: 5px;
}
.text-danger:empty {
    display: none;
}
/* ================== FORMULARIO DE INICIO DE SESION EMPLEADOS ========================== */
* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.login-body {
    overflow: hidden;
    width: 100vw;
    background-color: #a4bcdc;
    font-family: 'Varela Round', sans-serif;
    line-height: 1.5;
    margin: 0;
    min-block-size: 90vh;
    padding: 5vmin;
}

.login__header h2 {
    font-size: 1.75rem;
}

.login__form input {
    background-image: none;
    border: none;
    font: inherit;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
}

svg {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

/* ---------- ALIGN ---------- */
.align {
    display: grid;
    place-items: center;
}

/* ---------- BUTTON ---------- */

.login__form.button {
    background-color: #2d6eac;
    color: #fff;
    padding: 0.25em 1.5em;
}

    .login__form.button:focus,
    .login__form.button:hover {
        background-color: #28ad63;
    }

/* ---------- ICONS ---------- */
.icons {
    display: none;
}

.icon {
    fill: currentcolor;
    display: inline-block;
    height: 1em;
    width: 1em;
}

/* ---------- LOGIN ---------- */
.login-body {
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
    display: grid;
    place-items: center;
}
.login {
    width: 450px;
}

.login__header {
    background-color: #1f4d79;
    border-top-left-radius: 1.25em;
    border-top-right-radius: 1.25em;
    color: #fff;
    padding: 1.25em 1.625em;
}

    .login__header :first-child {
        margin-top: 0;
    }

    .login__header :last-child {
        margin-bottom: 0;
    }

.login h2 .icon {
    margin-right: 14px;
}

.login__form {
    background-color: #fff;
    border-bottom-left-radius: 1.25em;
    border-bottom-right-radius: 1.25em;
    color: #777;
    display: grid;
    gap: 0.875em;
    padding: 1.25em 1.625em;
}

.login input {
    border-radius: 0.1875em;
}

    .login input[type="text"],
    .login input[type="password"] {
        background-color: #eee;
        color: #777;
        padding: 0.25em 0.625em;
        width: 100%;
    }

    .login input[type="submit"] {
        padding: 10px 16px;
        border-radius: 5px;
        font-weight: bold;
        color: #FFF;
        background-color: #2d6eac;
        border: 2px solid #2d6eac;
        display: block;
        margin: 0 auto;
    }
        .login input[type="submit"]:hover {
            border-radius: 5px;
            background-color: #FFF;
            color: #2d6eac;
        }
/*=================== DASHBOARD EMPLEADO ======================= */
.dashboard-title {
    color: #1f4d79;
    margin-bottom: 70px;
}
.body-dashboard {
    width: 100vw;
    min-height: 100vh;
    padding: 10px 40px 40px 40px;
    background-color: #ede8f0;
}
.info-group {
    padding: 10px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
}
.card {
    padding: 20px;
    min-width: 250px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.card-icon {
    width: 48px;
    fill: #9b9b9b;
    align-self: center;
}
.card-title {
    font-size: 32px;
}
.card-subtitle {
    font-size: 16px;
    color: #9c9c9c;
}
/* EMPLEADO SEARCH BOXES*/
.search-section {
    display: flex;
    justify-content: space-evenly;
    column-gap: 25px;
    flex-wrap: wrap;
}
.search-form {
    display: flex;
    align-items: start;
    column-gap: 10px;
}
.search-box {
    min-width: 390px;
    max-width: 550px;
    margin-bottom: 20px;
}
.search__title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #2d6eac;
}
.search__input {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-color: #FFF;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #1f4d79;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

    .search__input::placeholder {
        color: rgba(87, 87, 86, 0.8);
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    .search__input:hover,
    .search__input:focus {
        padding: 12px 0;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #1f4d79;
        border-radius: 0;
        background-position: 100% center;
    }
/* BUSQUEDA DE COCHERA */
.search-cochera {
    width: max-content;
    display: flex;
    align-items: center;
    column-gap: 10px;
    flex-wrap: wrap;
    margin: 15px auto 20px auto;
    background-color: #fff;
    border: 1px solid #1f4d79;
    border-radius: 20px;
    padding: 5px 10px;
}
    .search-cochera fieldset p {
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;
        color: rgb(87, 87, 86);
    }
input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

label {
    color: #000;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
}
input[type=radio]:checked + label {
    color: #FFF;
    background: #1f4d79;
}

label + input[type=radio] + label {
    border-left: solid 2px #1f4d79;
}

.radio-group {
    border: solid 3px #2d6eac;
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
}
/* ================== pagina de inicio ================= */
.hero-wrapper {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: #FFF;
}
.hero {
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 80vh;
    background-color: #2d6eac;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
}
.hero_image {
    grid-column: 2;
}
.hero-action {
    grid-column: 1;
    grid-row: 1;
}
    .hero-action p {
        color: #000;
        font-size: 1.5rem;
        margin-top: 2.3rem;
        margin-bottom: 2.3rem;
        text-align: center;
    }
.action {
    border-radius: 10px;
    padding: 15px 10px;
    font-weight: bold;
    text-decoration: none;
    color: #1f4d79;
    background-color: #FFF;
    margin: 20px auto 0 auto;
    display: block;
    text-align: center;
    max-width: max-content;
}
    .action:hover {
        transform: scale(1.1)
    }
.hero-title {
    font-size: 3rem;
    text-align: center;
}
.hero-subtitle {
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
}
.hero-title, .hero-subtitle {
    color: #FFF;
}
/* MENU DE NAVEGACION */
.navbar-nav {
    justify-content: space-around;
    align-items: center;
}
.nav-item {
    color: #2d6eac !important;
}
